# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Admin Configuration
VITE_ADMIN_EMAILS=
VITE_DEV_CODE_HASH=

# Cloudinary Configuration
VITE_CLOUDINARY_CLOUD_NAME=dicpl6wjs
VITE_CLOUDINARY_UPLOAD_PRESET=apas_unsigned
